<launch>
    <!-- 运行move_base节点 -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find whud_navigation)/config/whud_robot/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find whud_navigation)/config/whud_robot/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find whud_navigation)/config/whud_robot/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find whud_navigation)/config/whud_robot/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find whud_navigation)/config/whud_robot/dwa_local_planner_params.yaml" command="load" />
        <rosparam file="$(find whud_navigation)/config/whud_robot/global_planner_params.yaml" command="load" />
        <rosparam file="$(find whud_navigation)/config/whud_robot/move_base_params.yaml" command="load" />

        <remap from="/cmd_vel" to="/move_base/cmd_vel" />
    </node>

    <!-- 运行rviz -->
    <?ignore
    <node name="playbag" pkg="rosbag" type="play"
        args="--clock $(arg bag_filename)" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find whud_navigation)/rviz/nav.rviz"/>
    <include file="$(find whud_laser_filter)/launch/laser_boxfilters.launch" />
    ?>

</launch>
